@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
@import url('https://fonts.googleapis.com/css?family=Happy+Monkey');
@import url('https://fonts.googleapis.com/css?family=Lato:100');
body{
  background: black;
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  overflow: hidden;
}
ul{
  position: absolute;
  top: 0;
  width: 100%;
  margin: 20px 0 0;
  padding: 0;
  border-top: 2px solid #777;
  display: flex;
}
ul li{
  list-style: none;
  top: -20px;
  position: relative;
  width: 24px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255,255,255,.1);
  margin: 25px;
}
ul li::before{
  content: '';
  position: absolute;
  top: -7px;
  left: 7px;
  width: 10px;
  height: 8px;
  background: #444;
}
ul li::after{
  content: '';
  position: absolute;
  top: -24px;
  left: 12px;
  width: 74px;
  height: 26px;
  border-bottom: 2px solid #444;
  border-radius: 50%;
}
ul li:last-child::after{
  border-bottom: none;
}
ul li:nth-child(3n+1){
  background: rgba(255,255,0,.2);
  animation: blink 1.5s linear infinite;
}
@keyframes blink {
  0%{
    background: rgba(255,255,0,.2);
  }
  50%{
      background: rgba(255,255,0,1);
      box-shadow: 0 0 25px rgba(255,255,0,1), 0 0 45px rgba(255,255,0,1);
  }
  100%{
      background: rgba(255,255,0,.2);
  }

}
ul li:nth-child(3n+2){
  background: rgba(255,0,255,.2);
  animation: blink1 1.5s linear infinite;
  animation-delay: .5s;
}
@keyframes blink1 {
  0%{
    background: rgba(255,0,255,.2);
  }
  50%{
      background: rgba(255,0,255,1);
      box-shadow: 0 0 25px rgba(255,0,255,1), 0 0 45px rgba(255,0,255,1);
  }
  100%{
      background: rgba(255,0,255,.2);
  }

}
ul li:nth-child(3n+3){
  background: rgba(50,255,0,.2);
  animation: blink2 1.5s linear infinite;
  animation-delay: 1s;
}
@keyframes blink2 {
  0%{
    background: rgba(50,255,0,.2);
  }
  50%{
      background: rgba(50,255,0,1);
      box-shadow: 0 0 25px rgba(50,255,0,1), 0 0 45px rgba(50,255,0,1);
  }
  100%{
      background: rgba(50,255,0,.2);
  }

}
.center{
  display: none;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: 2s;
}
input[type="checkbox"]{
  position: relative;
  width: 70px;
  height: 30px;
  -webkit-appearance:none;
  background: linear-gradient(0deg, #333, #000);
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px
  rgba(0,0,0,1), 0 5px 20px rgba(0,0,0,.5), inset 0 0 15px rgba(0,0,0,.2);
}
input[type="checkbox"]:hover{
  cursor: pointer;
}
input[type="checkbox"]:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 30px;
  background: linear-gradient(0deg, #000, #6b6b6b);
  border-radius: 20px;
  box-shadow: 0 0 0 1px #232323;
  transform: scale(.98,.96);
  transition: .5s;
}
.active input:checked[type="checkbox"]:before{
  left: 30px;
}
input[type="checkbox"]:after{
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  left: 25px;
  width: 4px;
  height: 4px;
  background: linear-gradient(0deg, #6b6b6b, #000);
  border-radius: 50%;
  transition: .5s;
}
.active input:checked[type="checkbox"]:after{
  left: 55px;
  background: #63cdff;
  box-shadow: 0 0 5px #13b3ff;
}
.active input:checked[type="checkbox"]{
  background: linear-gradient(0deg, #6dd1ff, #20b7ff);
  box-shadow: 0 0 2px #6dd1ff, 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px
  rgba(0,0,0,1), 0 5px 20px rgba(0,0,0,.5), inset 0 0 15px rgba(0,0,0,.2);
}
/*------------------------------------------------------------------------------------YEAR----*/
#container {
  display: none;
  position: absolute;
  top:20px;
  left: 50%;
  transform: translate(-50%);
  width: auto;
}
#selector{
  position: absolute;
  top: 0;
  width: 256px;
  height: 80px;
  background: black;
  border-radius: 25px ;
  z-index: 1;
}
.year19 {
  position: relative;
  border: 4px solid #fff;
  padding: 5px 35px;
  border-radius: 10px;
  box-shadow: 0 0 10px #1eff4e, 0 0 30px #1eff4e, inset 0 0 10px #1eff4e, inset 0 0 30px #1eff4e;
  font-family: 'Lato', sans-serif;
  animation: neonOuter 1s linear infinite ;
}
h2{
  margin: 0;
  padding: 0;
  font-size: 60px;
  color: #fff;
  text-shadow: 0 0 10px #1eff4e, 0 0 20px #1eff4e, 0 0 80px #1eff4e, 0 0 120px #1eff4e;
}
h2 span{
  animation: neon .9s linear infinite ;
}
h2 span:nth-child(1){
  animation-delay: 1s;
}
h2 span:nth-child(2){
  animation-delay: 2s;
}
h2 span:nth-child(3){
  animation-delay: 3s;
}
h2 span:nth-child(4){
  animation-delay: 4s;
}
@keyframes neonOuter {
  0% {
    opacity: .5;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: .5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}
@keyframes neon {
  0% {
    opacity: 1;
  }
  /* 30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  } */
  100% {
    opacity: 0;
  }
}

/*------------------------------------------------------------------------BOOK-------------*/
h4 {
  position: relative;
  top: -60px;
  font-size: 26px;
  line-height: 1px;
  font-family: 'Happy Monkey', cursive;
}

.color1{
  color:#1BBC9B;
}
.color2{color:#C0392B}


.card {
  color: #013243;
  display: none;
  position: absolute;
  top: 66%;
  left: 50%;
  width: 300px;
  height: 400px;
  opacity: 0;
  background: #e0e1dc;
  transition: 2s;
  transform-style: preserve-3d;
  transform: translate(-50%,-50%) perspective(2000px);
  box-shadow: 20px 10px 20px rgba(255,255,255,.3);
}

.card:hover {
  transform: translate(-50%,-50%) perspective(2000px)  scale(1.1);
}

.card:before {
  content:'';
  position: absolute;
  top: -9px;
  left: 0px;
  width: 100%;
  height: 9px;
  background: #e0e1dc;
  transform-origin: bottom;
  transform: skewX(-45deg);
}

.card:after {
  content: '';
  position: absolute;
  top: 0;
  right: -9px;
  width: 10px;
  height: 100%;
  background: #e0e1dc;
  transform-origin: left;
  transform: skewY(-45deg);
}

.card .imgBox {
  width: 100%;
  height: 100%;
  position: relative;
  transform-origin: left;
  background: white;
  transition: 2s;
  z-index: 4;
}
.card .bark {
  position: absolute;
  background: white;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 3;
  transition: 2s;
}

.card .box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 1px;
  z-index: -1;
  transform-origin: left;
  transition: 1s;
}
.card .b {
  position: absolute;
  background: white;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 1;
  transition: 1s;
}

.card .imgBox img {
  position: relative;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
  width: 300px;
  height: 100px;
}
#book{
  margin: 0;
  position: relative;
  width: auto;
  top: -5%;
  left: 50%;
  transform: translate(-50%);
  text-transform: uppercase;
  color: #000;
  font-family: 'Happy Monkey', cursive;
  font-weight: lighter;
  text-align: center;
  font-size: 20px;
}
#bookHint{
  font-size: 7px;
  margin-left: 5px;
  font-weight: bold;
}
.card .imgBox #pic{
  position: relative;
  top: 0%;
  left: 25%;
  transform: translate(-50%);
  width: 117px;
  height: 119px;
}
.card .imgBox #pic2{
  position: relative;
  top: 0%;
  left: 35%;
  transform: translate(-50%);
  width: 117px;
  height: 119px;
}
.card .imgBox #pic3{
  position: relative;
  top: 0%;
  left: 25%;
  transform: translate(-50%);
  width: 117px;
  height: 119px;
}
.card .imgBox #pic4{
  position: relative;
  top: 0%;
  left: 35%;
  transform: translate(-50%);
  width: 117px;
  height: 119px;
}

.card:hover .imgBox {
  transform: rotateY(-135deg);
  transition: 1s;
}
.card:hover .bark {
  opacity: 1;
  transition: .6s;
  box-shadow: 300px 200px 100px rgba(0, 0, 0, .2) inset;
}

.card:hover .box {
  transform: rotateY(-135deg);
  transition: 2s;
  width: 90%;
}
.card:hover .b {
  opacity: 1;
  transition: .6s;
  box-shadow: 300px 200px 100px rgba(50, 50, 50, .2) inset;
}

.card .details {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 0 0 0 10px;
  z-index: -2;
  margin-top: 70px;
}
.text-signature {
  text-align: center;
  transform: translateY(5px);
  text-decoration: underline;
}
.text-footer {
  text-align: center;
  color: #1BBC9B;
  font-weight: bold;
}

.card .details p {
  position: relative;
  top: -50px;
  font-size: 15px;
  line-height: 10px;
  text-transform: uppercase;
  font-family: 'Josefin Slab', serif;
  padding: 0 0 0 10px;
}

.card .details h4 {
  text-align: center;
}
h1{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%,-50%);
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-family: 'Anonymous Pro', monospace;
  font-size: 30px;
  font-weight:lighter;
  color: #fff;
  text-shadow: 0 2px 5px #95f80a;
}
